<launch>
	<!-- <arg name="hz" default="1000"/> -->
	<arg name="fps" default="60"/>
	<arg name="virtual_wall_width" default="0.02" />

	<rosparam command="load" file="$(find multi_modal_force_rendering)/config/virtual_wall.yaml" />
	<rosparam command="load" file="$(find multi_modal_force_rendering)/config/virtual_guidance.yaml" />

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_master" args="0 0 0 1.57079632679 0 1.57079632679 base_link master 100" />

	<!-- <node name="force_rendering_node" pkg="multi_modal_force_rendering" type="multi_modal_force_rendering_node" output="screen"> -->
		<!-- <param name="publish_rate" value="$(arg hz)"/> -->

		<!-- <remap from="a" to="b" /> -->
	<!-- </node> -->

	<include file="$(find multi_modal_force_rendering)/launch/contact_force.launch"/>
	<include file="$(find multi_modal_force_rendering)/launch/virtual_guidance.launch"/>
	<include file="$(find multi_modal_force_rendering)/launch/visualize.launch">
		<arg name="publish_rate" value="$(arg fps)" />
		<arg name="virtual_wall_width" value="$(arg virtual_wall_width)" />
	</include>

</launch>