<launch>
	<arg name="publish_rate" default="60"/>
	<arg name="virtual_wall_width" default="0.05"/>

	<node name="visualization_node" pkg="multi_modal_force_rendering" type="visualization_node" output="screen">
		<param name="publish_rate" value="$(arg publish_rate)"/>
		<param name="virtual_wall_width" value="$(arg virtual_wall_width)"/>
	</node>

    <node type="rviz" name="force_visualize_rviz" pkg="rviz" args="-d $(find multi_modal_force_rendering)/config/visualize.rviz" />


</launch>